@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  --color-brand-red: #f58f80;
  --color-brand-orange: #FAB571;
  --color-brand-yellow: #fdd796;
  --color-brand-blue: #415b8a;
  --color-brand-white: #ffffff;
  --color-brand-dark: #181818;

  --font-brand: "Fira Sans", "Inter", sans-serif;
  --font-brand-heading: "BBH Bogle", "Lora", serif;
}

html, body {
  overflow-x: hidden;
  max-width: 100vw;
}